
<div class="row">
  <div class="col-md-2 col-md-offset-8">
  	<%= link_to "Add a New Place", "/places/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-8"> 
  	<ul>
    <% Place.read.each do |place| %>
    	<h1><%= link_to place.name, "/places/#{place.id}" %></h1>
    	<p><%= place.phone %> | <%= place.address %></p>
    <% end %>
    </ul>
  </div>
</div>